/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  z-index: 10;
  left: 0; right: 0; top: 0;
  text-align: center;
}

.center-nav {
  background: #fff;

  padding: 20px;
  border-radius: 0 0 0 20px;

  filter: drop-shadow(5px 4px 2px rgba(0, 0, 0, 0.3));
}

nav a {
  position: relative;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

.none {
  display: none;
}
