body {
  background: #034078;
}

#home {
  height: 100vh;
}

.top-cloud {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.top-cloud > * {
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
  background: #1282a2;
  position: relative;
}

.top-cloud-1 {
  width: 80%;
  height: 3.125vh;
}

.top-cloud-2 {
  top: -2px;
  height: 6vh;
  width: 60%;
}

.top-cloud-3 {
  top: -3px;
  height: 6vh;
  width: 40%;
}

.bottom-cloud {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  right: 0;
}

.bottom-cloud > * {
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.125);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.125);
  background: #1282a2;
}

.bottom-cloud-1 {
  position: relative;
  z-index: 2;
  width: 65%;
  height: 5vh;
}

.bottom-cloud-2 {
  position: relative;
  z-index: 1;
  width: 90%;
  height: 3.25vh;
  top: -1px;
}

.middle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@media (min-width: 992px) {
  .middle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 30.5vh;
    left: 10%;
    right: 1.5%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 575.98px) {
  .middle {
    top: 3vh;
  }
}

.middle .profile {
  overflow: hidden;
  border-radius: 12.5rem;
  margin-left: 15px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 576px) {
  .middle .profile {
    width: 20rem;
    height: 20rem;
  }
  .middle .profile .pic {
    margin-left: -1.75rem;
  }
}

@media (max-width: 575.98px) {
  .middle .profile {
    width: 225.5px;
    height: 225.5px;
  }
  .middle .profile .pic {
    margin-left: -67px;
  }
}

@media (max-width: 991.98px) {
  .middle .greet {
    margin-top: 30px;
  }
  .middle .greet > h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .block-hi {
    display: none;
  }
  .first-name {
    color: #e94560;
  }
  .inline-hi {
    display: inline;
    color: #fff;
  }
  .middle .greet > h1 > span .last-name{
    display: none;
  }
  .middle .greet .sub-text {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background: #001f54;
    color: #f8f9fa;
    font-size: 1.25rem;
    border-radius: 2.1875rem;
  }
  .middle .greet .sub-text p {
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .middle .greet {
    width: 50%;
  }
  .middle .greet > h1 {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .block-hi {
    display: block;
  }
  .inline-hi {
    display: none;
  }
  .middle .greet > h1 > span {
    color: #e94560;
  }
  .middle .greet .sub-text {
    height: 3.875rem;
    background: #001f54;
    line-height: 3.875rem;
    color: #f8f9fa;
    font-size: 1.5rem;
    border-radius: 2.1875rem;
  }
  .middle .greet .sub-text p {
    font-weight: 700;
    margin-left: 1.9375rem;
  }
}

.bottom-arrow {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 2rem;
  color: #FFFFFF;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.bottom-arrow .ke-about {
  cursor: pointer;
}

.bottom-arrow i {
  font-size: 2rem;
  cursor: pointer;
}

.bottom-arrow:hover {
  opacity: 0.7;
}

#about-me {
  position: relative;
  height: 100vh;
}

@media (max-width: 424.98px) {
  #about-me h1 {
    font-size: 28px;
    text-align: center;
  }
}

@media (min-width: 425px) {
  #about-me h1 {
    font-size: 32px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #about-me h1 {
    font-size: 72px;
    text-align: end;
  }
}

@media (min-width: 425px) {
  #about-me p {
    font-size: 14px;
    line-height: 32px;
  }
}

@media (max-width: 424.98px) {
  #about-me p {
    font-size: 12px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  #about-me p {
    font-size: 18px;
  }
}

.first-section {
  position: absolute;
  top: 2.25rem;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  .first-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .first-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 138px;
    right: 30px;
  }
}

.first-section .title {
  -webkit-filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.3));
}

.first-section .title h1 {
  font-weight: 700;
  color: #fdfdfd;
}

.first-section .desc {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #001f54;
  border-radius: 35px;
  color: #e1e1e1;
}

@media (max-width: 991.98px) {
  .first-section .desc {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media (min-width: 992px) {
  .first-section .desc {
    width: 50vw;
  }
}

.first-section .desc p {
  width: 49vw;
  line-height: 36px;
  margin-top: 16px;
  margin-left: 25px;
  padding-right: 20px;
}

.ability {
  position: absolute;
  top: 230px;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  .ability {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    left: 0;
    top: 380px;
  }
}

@media (min-width: 992px) {
  .ability {
    right: 30px;
  }
}

.ability h1 {
  font-weight: 700;
  color: #fdfdfd;
}

.ability .skills {
  margin-bottom: 20px;
}

.ability .skills .cont {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #001f54;
  border-radius: 35px;
  padding: 10px;
}

@media (max-width: 991.98px) {
  .ability .skills .cont img {
    width: 300px;
  }
}

.ability .experiences .exp {
  background-color: #001f54;
  border-radius: 35px;
}

.ability .experiences .exp .ppp {
  margin-left: 25px;
  padding: 16px 12px 12px 0;
}

.ability .experiences .exp .job {
  color: #fdfdfd;
  margin-bottom: 0;
}

.ability .experiences .exp .com {
  color: #e94560;
  margin-bottom: 8px;
}

.top-cloud-abme {
  top: 2.25rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 5;
}

.top-cloud-abme .minified {
  width: 30%;
  height: 4vh;
}

.bottom-cloud-abme {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner {
  position: relative;
  bottom: -36px;
}

@media (max-width: 991.98px) {
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .ui {
    position: relative;
  }
  .banner .ui-logo {
    position: absolute;
    bottom: 77px;
    -webkit-filter: drop-shadow(0px 4px 4px #635719);
            filter: drop-shadow(0px 4px 4px #635719);
    left: 20px;
    width: 160px;
    opacity: 0.5;
  }
  .banner .ui-banner {
    position: relative;
    width: 200px;
    opacity: 0;
  }
  .banner .smansa {
    position: relative;
  }
  .banner .smansa-logo {
    position: absolute;
    bottom: 57px;
    width: 160px;
    left: 21px;
    opacity: 0.5;
  }
  .banner .smansa-banner {
    width: 200px;
    position: relative;
    bottom: -38px;
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .banner {
    margin-left: 65px;
  }
  .banner .ui {
    position: relative;
  }
  .banner .ui-logo {
    position: absolute;
    bottom: 77px;
    -webkit-filter: drop-shadow(0px 4px 4px #635719);
            filter: drop-shadow(0px 4px 4px #635719);
    left: 16px;
  }
  .banner .ui-banner {
    position: relative;
    bottom: -1.46vh;
  }
  .banner .smansa {
    position: relative;
  }
  .banner .smansa-logo {
    position: absolute;
    bottom: 57px;
    left: 32px;
  }
  .banner .smansa-banner {
    position: relative;
    bottom: -6.3vh;
  }
}

#contact-me {
  position: relative;
  height: 100vh;
  background: #034078;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.isi {
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.isi .thankyou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.isi .thankyou h1 {
  text-align: center;
  color: #e94560;
  margin-bottom: 0.3rem;
}

@media (min-width: 992px) {
  .isi .thankyou h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 991.98px) {
  .isi .thankyou h1 {
    font-size: 2rem;
  }
}

.isi .thankyou .social {
  width: 230px;
  margin-top: 20px;
}

.isi .thankyou .social i {
  color: #cbcdcf;
  font-size: 2.2rem;
}

.isi > span {
  margin: 20px 0;
}

.isi .lb-text {
  color: #1aa0c6;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.isi .email-me {
  width: 83vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .isi .email-me {
    width: 55vw;
  }
}

.isi .email-me form {
  width: 100%;
}

.isi .email-me-ct {
  margin-bottom: 10px;
}

.isi .email-me-ct input[type="text"], .isi .email-me-ct textarea {
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: 0;
  background: #001f54;
  line-height: 1.5;
  color: #cbcdcf;
  padding: .5rem 1rem;
}

.isi .email-me-ct input[type="text"] :focus, .isi .email-me-ct textarea :focus {
  border: 0px solid red;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.isi .email-me-ct textarea {
  resize: none;
  height: 17vh;
  scrollbar-color: #4285F4 #F5F5F5;
}

.isi .email-me .send {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100px;
  padding: 25px 18px;
  background-color: #f8f9fa;
  color: #001f54;
}

#edu {
  position: relative;
  height: 100vh;
  background: #034078;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  #edu h1 {
    font-size: 72px;
  }
  #edu h2 {
    font-size: 1.75rem;
  }
  #edu h3 {
    font-size: 1.50rem;
  }
  #edu h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991.98px) {
  #edu h1 {
    font-size: 2rem;
  }
  #edu h2 {
    font-size: 1.25rem;
  }
  #edu h3 {
    font-size: 1rem;
  }
  #edu h4 {
    font-size: 0.8rem;
  }
}

#edu .title {
  z-index: 2;
  margin-top: 7.5vh;
  -webkit-filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.3));
}

#edu .title h1 {
  text-align: center;
  font-weight: 700;
  color: #fdfdfd;
}

#edu .schools {
  position: relative;
  z-index: 3;
  margin-top: 5vh;
}

#edu .schools > div {
  border-radius: 30px;
  padding: 20px;
  color: #fdfdfd;
  background: #001f54;
}

#edu .schools > div h2 {
  color: #e94560;
}

#edu .schools > div :not(:last-child) {
  margin-bottom: 10px;
}

#edu .schools :not(:last-child) {
  margin-bottom: 5px;
}


#edu .bottom-cloud {
  z-index: 1;
}

a,
a:hover,
a:active {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */