{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/njay.css' %}">
<title>Story 1 PPW</title>
{% endblock meta %}

{% block content %}
<div class="header">
    <h1>My Profile</h1>
</div>
<div class="middle">
    <div class="center">
        <div class="avatar">
            <img src="{% static 'img/MY09.jpg' %}" alt="image">
        </div>

        <div class="content">
            <h1>Bima Bagas Raditya</h1>
            <h3>1906398585</h2>
            <h2>Universitas Indonesia'19</h2>
            <p>a computer science student who's trying to jump into mobile development.</p>
            <p>watching animal vids is my hobby, especially a cat</p>
        </div>

        <div class="social">
            <a href="http://fb.com/bima.b.r.5" >
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://instagram.com/bimabr">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/bbima4">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</div>
<div class="empty"></div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/njay.js' %}"></script>
{% endblock content %}